global
    maxconn 2000
    tune.ssl.default-dh-param 2048

defaults
    mode tcp
    timeout connect 10s
    timeout client 1m
    timeout server 1m

frontend https-in
    bind *:443
    mode tcp
    option tcplog
    default_backend oracle-backend

backend oracle-backend
    mode tcp
    option tcplog
    server oracle-node 144.24.42.28:443 send-proxy-v2
